img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "OpenSans", sans-serif;
  color: $main-font-color;
  font-size: 12px;
  line-height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 103px;

  @media (max-width: 830px) {
    padding: 0 50px;
  }

  @media (max-width: 450px) {
    padding: 0 20px;
  }
}
